html,
body {
  scroll-behavior: smooth;
  background-color: #0A0A0A;
}


body,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#anchor {
  color: #fdbd16;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0; 
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0c0c0c;
  color: #fff;
}

.logo {
  width: 100px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.logo #nav {
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-links li {
  position: relative;
  margin-right: 15px;
}

.nav-links #nav {
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 13px;
}

.nav-links #nav:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #FDBD16;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-links #nav:hover:before {
  transform: scaleX(1);
  visibility: visible;
}

.nav-links #nav:hover {
  color: #fdbd16;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle-label {
  cursor: pointer;
  display: block;
  padding: 10px;
}

.navbar-toggle-icon {
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  position: relative;
  transition: background-color 0.3s ease;
}

.navbar-toggle-icon:before,
.navbar-toggle-icon:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
}

.navbar-toggle-icon:before {
  top: -7px;
}

.navbar-toggle-icon:after {
  top: 7px;
}

.navbar-toggle:checked + .navbar-toggle-label .navbar-toggle-icon {
  background-color: transparent;
}

.navbar-toggle:checked + .navbar-toggle-label .navbar-toggle-icon:before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggle:checked + .navbar-toggle-label .navbar-toggle-icon:after {
  transform: rotate(-45deg);
  top: 0;
}

#log0 {
  height: 90px;
  width: 200px;
}



.jumbotron {
  height: 750px;
  background-image: url(finalbg.jpg);
  background-size: 100% 100%;
  width: inherit;
  background-repeat: no-repeat;
}

#fade-in {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  margin-top: 2%;
  color: white;
  text-align: center;
}

h3 {
  margin-top: 10%;
  color: white;
  text-align: center;
}

h4 {
  color: white;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: #FDBD16;
}

.container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

.item {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: -5%;
}

#desc {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 15px;
  opacity: 0;
}

.roww {
  height: auto;
  border-radius: 10px;
  margin-top: 7%;
}

.item img {
  width: 100%;
  height: auto;
}

#item img:hover {
  border: 3px solid white;
}

.text {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}


#link1 {
  font-size: 14px;
  text-decoration: underline;
  color: #fdbd16;
}

.text.visible {
  opacity: 1;
  transform: translateY(0);
}

footer {
  background-color: #0c0c0c;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 10px;
}

#row {
  height: auto;
  border-radius: 10px;
  margin-top: 7%;
}

.col {
  width: 200px;
  height: 100px;
  background-color: white;
  margin: 5px;
  flex-wrap: wrap;
}

.mymemoji{
  top: 50%;
  animation: bounce 2s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#memoji{
  width: 300px;
}
.soft {
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.soft1 {
  position: relative;
  width: 220px;
  height: 140px;
  background-color: #0A0A0A;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.soft1 i {
 font-size: 40px;
 color: #FDBD16;
}

.soft1 i,
.soft1 p {
  display: block;
}

.soft1 p {
  margin: 0;
}

.soft1:hover {
  transform: scale(1.1); /* Scale up the element on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
  background-color: black; /* Change background color on hover */
  color: white;
}

.intro {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7%;
}

#change {
  font-size: 15px;
  margin-top: -2%;
}

.intro {
  font-size: 35px;
}

#mmmm {
  margin: 10px 0px 10px 0px;
}

#card {
  background-color: white;
  width: 220px;
  height: 90px;
  margin: 10px 10px 10px 10px;
  border-radius: 1px;
  display: inline-block;
  box-sizing: border-box;
  transition: transform 0.6s;
  text-align: justify;
  border: 1px solid white;
  font-size: var(--font-size-default);
}

#txt {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 15px;
}

#card:hover {
  transform: translateY(-12px);
}

.mypic {
  width: 350px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fest{
  width: 250px; 
  height: auto; 
  justify-content: center;
  margin: 10px 30px 10px 30px; 
  align-items: center;
}


#fest1{
  width: 250px; 
  height: auto; 
  justify-content: center;
  margin: 10px 30px 10px 30px; 
  align-items: center;
}


#fest2{
  width: 250px; 
  height: auto; 
  justify-content: center;
  margin: 10px 30px 10px 30px; 
  align-items: center;
}

.man{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121314;
  margin-top: 2%;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#ski {
  background-color: #0A0A0A;
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  text-align: center;
}

#html {
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  opacity: 1;
}

#htmltxt {
  color: white;
  margin-top: 8px;
  font-size: 12px;
}

#year {
  opacity: 0;
  font-size: 13px;
}

#ski:hover {
  background-color: white;
  transition: all 0.3s ease-in-out;
}

#ski:hover #year {
  opacity: 1;
  color: black;
  margin-top: -70px;
}

#ski:hover #html {
  opacity: 0;
}

#ski:hover #htmltxt {
  opacity: 0;
}

#css {
  width: 60px;
  height: 63px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  opacity: 1;
}

#csstxt {
  color: white;
  margin-top: 8px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #css {
  opacity: 0;
}

#ski:hover #csstxt {
  opacity: 0;
}

#js {
  width: 69px;
  height: 69px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5px;
  opacity: 1;
}

#jstxt {
  color: white;
  margin-top: 5px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #js {
  opacity: 0;
}

#ski:hover #jstxt {
  opacity: 0;
}

#fig {
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  opacity: 1;
}

#figtxt {
  color: white;
  margin-top: 5px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #fig {
  opacity: 0;
}

#ski:hover #figtxt {
  opacity: 0;
}

#ps {
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  opacity: 1;
}

#pstxt {
  color: white;
  margin-top: 5px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #ps {
  opacity: 0;
}

#ski:hover #pstxt {
  opacity: 0;
}

#vs {
  width: 65px;
  height: 67px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  opacity: 1;
}

#vstxt {
  color: white;
  margin-top: 6px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #vs {
  opacity: 0;
}

#ski:hover #vstxt {
  opacity: 0;
}

#boo {
  width: 75px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  opacity: 1;
}

#bootxt {
  color: white;
  margin-top: 7px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #boo {
  opacity: 0;
}

#ski:hover #bootxt {
  opacity: 0;
}

#inv {
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  opacity: 1;
}

#jit {
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  opacity: 1;
  border-radius: 10px;
}

#ski:hover #jit {
  opacity: 0;
}

#invtxt {
  color: white;
  margin-top: 7px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #inv {
  opacity: 0;
}

#ski:hover #invtxt {
  opacity: 0;
}

#php {
  width: 70px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
 
  margin-top: 20px;
  opacity: 1;
}

#phptxt {
  color: white;
  margin-top: 18px;
  margin-left: -3px;
  font-size: 12px;
  opacity: 1;
}


#phpmytxt {
  color: white;
  margin-top: 1px;
  margin-left: -3px;
  font-size: 12px;
  opacity: 1;
}


#ski:hover #php {
  opacity: 0;
}

#ski:hover #phptxt {
  opacity: 0;
}


#ski:hover #phpmytxt {
  opacity: 0;
}


#java {
  width: 70px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  opacity: 1;
}

#javatxt {
  color: white;
  margin-top: 7px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #java {
  opacity: 0;
}

#ski:hover #javatxt {
  opacity: 0;
}

#cc {
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  opacity: 1;
}

#lucid {
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  opacity: 1;
  border-radius: 10px;
}

#lucidtxt {
  color: white;
  margin-top: 6px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #lucid {
  opacity: 0;
}

#ski:hover #lucidtxt {
  opacity: 0;
}

#cctxt {
  color: white;
  margin-top: 6px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #cc {
  opacity: 0;
}

#ski:hover #cctxt {
  opacity: 0;
}

#canva {
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  opacity: 1;
  border-radius: 10px;
}

#canvatxt {
  color: white;
  margin-top: 6px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #canva {
  opacity: 0;
}

#ski:hover #canvatxt {
  opacity: 0;
}

#c {
  width: 68px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  opacity: 1;
}

#ctxt {
  color: white;
  margin-top: 6px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #c {
  opacity: 0;
}

#ski:hover #ctxt {
  opacity: 0;
}

#git {
  width: 68px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  opacity: 1;
  border-radius: 10px;
}

#gittxt {
  color: white;
  margin-top: 3px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #git {
  opacity: 0;
}

#ski:hover #gittxt {
  opacity: 0;
}

#sql {
  width: 68px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  opacity: 1;
}

#sqltxt {
  color: white;
  margin-top: 3px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #sql {
  opacity: 0;
}

#ski:hover #sqltxt {
  opacity: 0;
}

#vb {
  width: 68px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  opacity: 1;
}

#vbtxt {
  color: white;
  margin-top: 16px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #vb {
  opacity: 0;
}

#ski:hover #vbtxt {
  opacity: 0;
}

#app {
  width: 68px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  opacity: 1;
}

#apptxt {
  color: white;
  margin-top: 3px;
  font-size: 12px;
  opacity: 1;
}

#ski:hover #app {
  opacity: 0;
}

#ski:hover #apptxt {
  opacity: 0;
}


#thehome {
  position: absolute;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  overflow: hidden;
  padding: 10px;
}


#request {
  background-color: #fdbd16;
  color: black;
  border-radius: 30px;
  margin: 5px 5px 5px 5px;
  width: 140px;
  font-size: 13px;
  height: 35px;
  border: none;
  transition: transform 0.6s;
}

#request:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

#skills {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121314;
}

#heder{
  font-size: 25px;
}

#projects {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A0A0A;
}

a:hover{
  text-decoration: none;
}

#about {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A0A0A;
}


#contact {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A0A0A;
}

#soc {
  color: white;
}

.ttx{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5%;
  width: 300px;
}

#lool{
  font-size: 18px;
  color: white;
}

#change{
  color: #FDBD16;
  font-size: 25px;
}

.co {
  background-image: url(INDEV.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 10px;
}

#case1 {
  font-size: 20px;
  color: white;
  margin-top: 10px;
  justify-content: center;
}



.co2 {
  background-image: url(BG-CONCERT-PASS.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 10px;
}

#case2 {
  font-size: 20px;
  color: white;
  margin-top: 10px;
  justify-content: center;
}


.co3 {
  background-image: url(BG-ANYTHING-PASTRIES.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 10px;
}

#case3 {
  font-size: 20px;
  color: white;
  margin-top: 10px;
  justify-content: center;
}

#link2 {
  font-size: 14px;
  text-decoration: underline;
  color: #fdbd16;
}

#scrolltop{
  width: 30px; 
  height: 30px; 
  margin: auto auto auto auto;
}

#parag{
  text-align: center; 
  color: #FDBD16;
}

#conts{
  color: #FDBD16;
  font-size: 25px;
}

#rows{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
}

#rowss{
  background-color: #121314; 
  width: 150px; 
  height: 120px; 
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  
}

#h1{
  font-size: 25px;
}

a{
  text-decoration: none;
}

h6{
  text-align: center;
  font-size: 17px; 
  color: white;
}

#line{
  align-items: center; 
  margin-top: -3%; 
  color: #FDBD16;
}

#manifesto{
  text-align: justify; 
  color: white; 
  margin-top: 10%; 
  font-size: 13px;
  background-color: #121314;
  height: auto;
}

#manifesto1{
  text-align: justify; 
  margin-top: 19%; 
  color: white;
  font-size: 13px;
}

#manifesto2{
  text-align: justify; 
  margin-top: 11%; 
  color: white;
  font-size: 13px;
}


#manifesto7{
  text-align: justify; 
  margin-top: 11%; 
  color: white;
  font-size: 13px;
}

#title1{
  color: #FDBD16;
  margin-top: 15%; 
  text-align: center;
}

#iccon{
  font-size: 65px; 
  color: #FDBD16; 
  margin-top: 15%; 
  display: block; 
  text-align: center;
}

#noci{
  font-size: 20px; 
  color: #FDBD16; 
  display: block; 
  text-align: center;
}

#principle{
  text-align: center;
  font-size: 17px; 
  color: white;
}


#field{
  color: white; 
  margin-top: 4%; 
  font-size: 15px;
  text-align: justify;
}

#ui{
  margin-top: 3%; 
  color: white; 
  text-align: justify;
}

#name{
  color: #FDBD16;
}

#hi{
  color: white;
  margin-top: -8%;
}

#spa{
  color: #FDBD16;
}

.allskill{
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  display: flex;
  height: auto;
  flex-wrap: wrap;
}

#me{
  margin-bottom: 10%; 
  margin-top: 6%; 
}

#bom{
  margin-bottom: 5%;
}

#colr{
  color: #FDBD16;
}

#arr{
  font-size: 12px;
}

#odesign{
  display: flex; justify-content: center; align-items: center; margin-top: 4%;
}

#odes1{
  background-color: aliceblue; width: 90%; height: 200px; margin: 15px 15px 15px 15px; border-radius: 10px;
}


@media screen and (max-width: 768px) {
  #heder{
    margin-top: 30%;
  }

  #conts{
    font-size: 17px;
  }

.soft1{
  width: 125px;
  height: 100px;
  margin: 5px;
}


.soft1 i {
  font-size: 25px;
 }


.soft1 p{
  font-size: 10px;
}

#odes1{
  height: 80px;
}

#iccon{
  font-size: 40px;
}

  #rowss{
    width: 100px; 
    height: 110px; 
    border-radius: 10px;
  }

#fest{
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#fest1{
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#fest2{
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#manifesto1, #manifesto2, #manifesto7{
  margin-top: 10px;
}

#ui, #field, #manifesto2, #manifesto1, #manifesto, #manifesto7{
  font-size: 13px;
}

#manifesto{
  height: auto;
}

  #field{
   margin-top: 10%;
  }

#memoji{
  width: 200px;
}

#parag{
  font-size: 10px;
}
#card {
  max-width: 130px;
  max-height: 60px;
}

#card #txt {
  font-size: 8px;
  margin-top: -10%;
}

#home {
  height: 50vh;
}

#thehome {
  width: 100%;
}

.co {
  width: 270px;
  height: 130px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#case1 {
  font-size: 12px;
  width: 270px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#link1 {
  font-size: 10px;
}

.co2 {
  width: 270px;
  height: 130px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


.co3 {
  width: 270px;
  height: 130px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


#case2 {
  font-size: 12px;
  width: 270px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


#case3 {
  font-size: 12px;
  width: 270px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#link2 {
  font-size: 10px;
}

.navbar {
  flex-direction: column;
  align-items: flex-start;
 }

 .nav-links {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
 }

 .nav-links li {
  margin-bottom: 15px;
 }

 .navbar-toggle {
  display: block;
 }

 .navbar-toggle:checked ~ .nav-links {
  display: flex;
 }

 .logo {
  position: relative;
  margin-left: 20%;
  margin-top: -13%;
}

#row {
  max-width: 700px;
  max-height: 60px;
}

#me {
  font-size: 20px;
}

#change, #lool {
  font-size: 15px;
}

}



