body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
  background-color: #01051B;
}


body{
  cursor: url('jaf.png'), auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 9999;
  padding-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease; 
}

.navbar.scroll {
  background-color: rgba(0, 0, 0, 0.707);
  backdrop-filter: blur(50px);
}

.navbar.scroll.no-backdrop {
  background-color: rgba(0, 0, 0, 1); 
}

.navbar.scroll a {
  color: white; 
}



.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 0 0 -7%;
  padding: 0; 
}

.nav-links li {
  margin: 0 10px; 
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  top: 50%;
  left: 50%;
  padding: 10px; 
  transition: color 0.3s ease;
}


.nav-links a:hover{
  color: #4942d4;
}




.navbar-toggle {
  display: none;
}

.navbar-toggle-label {
  cursor: pointer;
  display: block;
  padding: 10px;
}

.navbar-toggle-icon {
  display: block;
  width: 17px;
  height: 2px;
  background-color: white;
  position: relative;
  transition: background-color 0.3s ease;
  opacity: 0;
}

.navbar-toggle-icon:before,
.navbar-toggle-icon:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
  opacity: 0;
}

.navbar-toggle-icon:before {
  top: -7px;
}

.navbar-toggle-icon:after {
  top: 7px;
}

.navbar-toggle:checked + .navbar-toggle-label .navbar-toggle-icon {
  background-color: transparent;
}

.navbar-toggle:checked + .navbar-toggle-label .navbar-toggle-icon:before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggle:checked + .navbar-toggle-label .navbar-toggle-icon:after {
  transform: rotate(-45deg);
  top: 0;
}


.ic1s{
  height: 40px;
  width: 150px;
  margin-top: -4%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.ic1s i{
  color: white;
  font-size: 25px;
}


#nav-home{
  align-items: center;
  justify-content: center;
  display: flex;
}

#home{
  width: inherit;
}

.all {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-self: center;
  display: flex;
}

.all video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.content {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  align-items: center;
  justify-content: center;
  display: flex; /* Changed from 'block' to 'flex' */
}

.landing-cont {
  width: auto;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.landing-cont h1 {
  font-size: 100px;
  margin-bottom: 10px;
  line-height: 1.1;
  color: white;
}

.landing-cont p {
  font-size: 50px;
  margin-top: 0;
  line-height: 1.5;
  color: white;
  font-style: italic;
}


.flip-text {
  display: inline-block;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  perspective: 1000px;
  color: white;
}

.flip-text.flip {
  transform: rotateX(180deg);
}

.explore{
  width: auto;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
  background-image: url('trybgg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  color: white;
  border: 1px solid white;
}

.explore:hover{
  background-image: url('bgbutton.png');
}

.abb{
  width: inherit;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 3% 3% 3%;
  align-items: center;
  background-color: #01051B;
}


.marquee {
  width: 100%;
  height: 300px; /* Adjust height based on image aspect ratio */
  overflow: hidden;
  position: relative;
}

.sss {
  display: flex;
  height: 100%;
  /* Adjust the width based on the number of images (24 images each 2738px wide) */
  width: calc(2000px * 24);
  animation: slide 120s linear infinite; /* Adjust duration as needed */
}

.sss img {
  width: 2000px;
  height: auto; /* Maintain aspect ratio */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}






.heretitle{
  width: 100%;
  height: auto;
  color: white;
  font-size: 12px;
}

.heretitle h1{
  color: white;
}

.heretitle h2{
  margin-top: 3%;
  font-size: 30px;
  color: white;
  line-height: 1.5;
  text-align: left;
}

.heretitle p{
  text-align: left;
  line-height: 1.5;
  font-size: 18px;
  font-family: paragraph;
  color: #DCDCDC;
}


.herepic {
  margin: 3% 5% 3% 5%;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100 = 56.25) */
  background-image: url('me.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  position: relative;
  height: 0;
}

.herepic::before {
  content: "";
  display: block;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}





.name{
  color: #3041FF;
}

.sev{
  width: inherit;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 3% 3% 3%;
  align-items: center;
  background-color: #07070f;
}

.cards{
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}



.card1-wrapper {
  overflow-x: hidden;
}



.card1 {
  width: 550px;
  height: 550px;
  position: relative;
  max-width: 100%;
  opacity: 1;
  overflow-x: hidden;
  overflow-x: hidden; 
}

.bubble {
  border-radius: 50%;
  position: absolute;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  background-color: #ff5733;
  transition: transform 0.2s;
  background-size: cover; /* Ensure background image covers the entire bubble */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
}

.bubble:hover {
  transform: scale(1.7);
  z-index: 1;
}

.bubble.main {
  width: 80px;
  height: 80px;
}

.bubble.large {
  width: 60px;
  height: 60px;
}

.bubble.medium {
  width: 50px;
  height: 50px;
}

.bubble.small {
  width: 40px;
  height: 40px;
}





.card10{
  width: 300px;
  height: 300px;
  opacity: 0;
  display: none;
  background-image: url('bubbles.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.card2{
  width: 550px;
  height: auto;
}

.cardss{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.uix{
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.fp1{
  width: 620px;
  height: 365px;
  background-color: #07070f;
  border-radius: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2% 2% 2% 2%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.pic{
  width: inherit;
  height: 300px;
  background-color: white;
  border-radius: 10px;
}



.pj1:hover h1{
  opacity: 1;
}

.pj1:hover button{
  opacity: 1;
}

.pj2{
  width: 590px;
  height: 370px;
  margin: 0 1% 1% 1%;
  background-image: url('ttry.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.card5{
  width: 690px;
  height: auto;
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 0 0 0 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}


.rotate {
  font-size: 18px;
  text-align: center;
  line-height: 100px;
  position: fixed;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
}

.ic{
  width: 300px;
  height: 300px;
  margin-left: -10%;
  opacity: 0.7;
  margin-top: -20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('gd.png');
}

.ic2{
  width: 150px;
  opacity: 0.7;
  height: 150px;
  margin-top: -10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('webd.png');
}

.ic3{
  width: 150px;
  height: 150px;
  opacity: 0.7;
  margin-top: -10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('q.a.png');
}


.ic4{
  width: 150px;
  height: 150px;
  opacity: 0.7;
  margin-top: -10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('ui.png');
}


.cc1{
  width: 300px;
  height: 300px;
  margin-top: 1%;
  margin-bottom: 5%;
  padding: 0 0 0 0;
}

.cc1 h1{
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
  color: white;
}

.cc1 p{
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
  font-family: paragraph;
  color: #DCDCDC;
}

#down{
  text-align: left;
  line-height: 1.5;
  font-size: 20px;
  text-align: justify;
  font-family: paragraph;
  color: #DCDCDC;
}

.card6{
  width: 400px;
  height: 700px;
  margin-left: 0;
  background-image: url('BG-ANYTHING-PASTRIES.png');
  margin-right: 5%;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 1; 
  transform: scale(1); 
  padding: 0 0 0 0;
  margin-top: -7%;
}

.card2 h3{
  text-align: left;
  color: white;
  line-height: 1.5;
  font-size: 16px;
  font-style: oblique;
}

.card2 h1{
  font-size: 30px;
  color: white;
  line-height: 1.5;
  text-align: left;
}

.card2 p{
  text-align: left;
  line-height: 1.5;
  font-size: 18px;
  font-family: paragraph;
  color: #DCDCDC;
}


#p-icon{
  text-align: left;
  line-height: 1.5;
  font-size: 12px;
  text-align: justify;
  font-family: paragraph;
  color: #DCDCDC;
}








.ss{
  width: inherit;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 3% 3% 3%;
  align-items: center;
  background-color: #01051B;
}


.pp{
  width: inherit;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 3% 3% 3%;
  align-items: center;
  background-color: #01051B;
}


.cc{
  width: inherit;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 3% 3% 3%;
  align-items: center;
  background-color: #01051B;
}

.banner{
  width: 100%;
  height: 150px;
  background-image: url('WORK.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  
}

.banner1{
  width: 100%;
  height: auto;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.ct1{
  width: 600px;
  height: auto;
  margin: 2% 2% 2% 2%;
}



.ct1 h1{
  font-size: 30px;
  color: white;
  font-style: italic;
}


.ct1 p{
  line-height: 1;
  font-size: 20px;
  font-family: paragraph;
  color: #DCDCDC;
}

a{
  color: white;
}

.meds{
  width: 120px;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.med1{
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30px;
}

.foot{
  background-color: #07070f;
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  font-family: melvin;
}


.circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(2, 37, 89, 0.649); 
    filter: blur(90px); 
    width: 100px; 
    height: 100px; 
    animation: moveCircle 15 linear infinite;
    transition: background-color 4s; 
}

.circle:nth-child(1) {
    top: 20%;
    bottom: 20%;
    animation: roamCircle1 15s linear infinite;
}

.circle:nth-child(2) {
    right: 50%;
    left: 70%;
    animation: roamCircle2 15s linear infinite;
}

.circle:nth-child(3) {
    bottom: 80%;
    left: 40%;
    animation: roamCircle3 15s linear infinite;
}


@keyframes roamCircle1 {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(50%, 50%);
    }
    50% {
        transform: translate(100%, 0%);
    }
    75% {
        transform: translate(50%, -50%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes roamCircle2 {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(-50%, 50%);
    }
    50% {
        transform: translate(-100%, 0%);
    }
    75% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes roamCircle3 {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(50%, -50%);
    }
    50% {
        transform: translate(100%, 0%);
    }
    75% {
        transform: translate(50%, 50%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9);  /*Black with opacity */
  transition: color 0.3s ease;
}

.modal-content {
  position: relative;
  color: #fff; /* White text */
  margin: 1% auto auto auto; /* Center the modal */
  padding: 20px;
  max-width: 90%; /* Max width of 90% */
  max-height: 90%; /* Max height of 90% */
  overflow-y: auto; /* Enable vertical scroll if needed */
  transition: color 0.3s ease;
}

.modal-content::-webkit-scrollbar {
width: 5%; /* Hide scrollbar */
}

/* Optional: Style for scrollbar track and thumb */
.modal-content::-webkit-scrollbar-track {
background-color: #f1f1f1;
}

.modal-content::-webkit-scrollbar-thumb {
background-color: #888;
}

.modal-content img{
  width: 100%;
  height: 100%;

}

.close{
  color: #fff;
  float: right;
  margin-bottom: 2%;
  font-size: 40px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #4942d4;
  text-decoration: none;
  cursor: pointer;
}


.heret{
  width: inherit;
  height: auto;
  margin-bottom: 2%;
}

.heret h2{
  margin-left: 6%;
  font-size: 30px;
  color: #fff;
  font-style: italic;
  
}

.slider-container {
  width: 100%;
  height: inherit;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  height: 500px;
  font-size: 2em;
  color: white;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  align-items: start;
  justify-content: start;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}


.slide1{background-image: url('Harborview-BG.png');}
.slide2{background-image: url('a.png');}
.slide4{background-image: url('web-portfolio-1.png');}
.slide3{background-image: url('alternate.png');}

#button, button{
  background-color: #fff;
  border: none;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  font-family: melvin;
  font-size: 16px;
  color: black;
  opacity: 1;
  transition: transform 0.5s ease;
  cursor: pointer;
  margin-bottom: 2%;
}

#button:hover, button:hover{
  background-color: rgb(183, 182, 182);
}

#a{
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.d{
  width: 100%;
  height: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.742);
  position: absolute;
  bottom: 0;
  text-align: center;
}

.d h1{
  font-size: 25px;
}




.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2em;
  color: white;
  background-color: #000000a9;
  padding: 10px;
  border-radius: 50px;
}


.arrow:hover{
  color: rgb(144, 144, 144);
}

.arrow.left { left: 10px; }
.arrow.right { right: 10px; }

.slider-indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(112, 111, 111, 0.333);
  margin: 0 5px;
  cursor: pointer;
}

.slider-indicator.active {
  background-color: #4942d4;
}

#nav-bar {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(176, 92, 255);
  border-radius: 4px;
}

.video-here {
  width: inherit;
  height: 580px;
}

.video-here video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire div */
}

.links-lofa{
  width: inherit;
  height: 100px;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: black;
  padding-left: 20px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}

.ct1 p{
  font-size: 16px;
}


#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: #4942d4;
}


@media screen and (max-width: 768px) {
 

  .video-here{
    height: 200px;
  }

  
.herepic {
  margin: 3% 5% 3% 5%;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100 = 56.25) */
  background-image: url('me1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  position: relative;
  height: 0;
}

.herepic::before {
  content: "";
  display: block;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}


.card10{
  opacity: 1;
  display: block;
  margin-top: 15%;
}


.cc1{
  height: 230px;
  margin-top: 1%;
  margin-bottom: 5%;
}


.ic{
  width: 300px;
  height: 300px;
  margin-left: -25%;
  margin-top: -30%;
}


.ic2{
  width: 150px;
  height: 150px;
  margin-top: -10%;
}


.ic3{
  width: 150px;
  height: 150px;
  opacity: 0.7;
  margin-top: -10%;
}


.ic4{
  width: 150px;
  height: 150px;
  opacity: 0.7;
  margin-top: -10%;
}


  .all{
    margin-top: -12%;
  }

  .all{
    width: inherit;
  }

  .landing-cont h1{
    font-size: 50px;
    text-align: center;
  }
  
  .landing-cont p{
    font-size: 30px;
  }
  
.card5, .card6{
  margin-left: 8%;
}

.slide {
  width: 300px;
  height: 300px;
}

.slider-container{
  border-radius: 20px;
}


button{
  width: 90px;
  height: 20px;
  font-size: 12px;
}


.fp1{
  width: inherit;
  height: 185px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 3% 3% 3% 3%;
  border-radius: 10px;
}

.d{
  width: 100%;
  height: auto;
  color: white;
  background-image: url(arrow-bg.png);
  position: absolute;
  padding-bottom: 2%;
  text-align: center;
}

.d h1{
  font-size: 12px;
}

.pic{
  width: inherit;
  height: 130px;
  margin-top: -3%;
  border-radius: 5px;
}

.heretitle{
  height: auto;
}

.heretitle h2{
  margin-top: 8%;
}
  
.card6{
  width: inherit;
  height: 580px;
}


.uix{
  width: inherit;
  height: auto;
}

  .l1{
    width: inherit;
    height: 140px;
  }

  .skillset{
    width: 300px;
    margin-top: 20%;
  }


  .abb, .ss, .pp, .cc{
    padding: 8% 8% 8% 8%;
  }
  
  .cards{
    align-items: center;
    justify-content: center;
    display: flex;
    width: inherit;
    height: auto;
    flex-direction: column;
  }


  .card1-wrapper {
    overflow-x: auto; /* Allow horizontal overflow */
    overflow-y: hidden; /* Hide vertical overflow */
  }
  
  .card1 {
    display: none;
    opacity: 0;
  }

  
  

.arrow {
  font-size: 1em;
  padding: 10px;
  border-radius: 20px;
}

  .card2{
    width: 300px;
    margin-top: 4%;
    height: 400px;
    padding: 8px 8px 8px 8px;
  }

  .card2 h1, .heretitle h2, .links-lofa h1{
    font-size: 20px;
  }

  .card2 p, .heretitle p, .cc1 p, .ct1 p{
    text-align: justify;
    font-size: 14px;
  }

  .links-lofa{
    padding: 0;
  }

  .links-lofa p{
    font-size: 14px;
  }

  .links-lofa a {
    display: block; /* Make the link block-level to ensure it wraps properly */
    word-wrap: break-word; /* Ensure long URLs break to avoid overflow */
  }

  .box{
    width: inherit;
    height: 100px;
    margin-top: 10px;
    opacity: 0; 
    transform: translateY(1500px); 
    transition: opacity 0.5s ease, transform 1s ease; 
  }

  .box1{
    background-image: url('f11.png');
  }

  .box2{
    background-image: url('f12.png');
  }

  .box3{
    background-image: url('f13.png');
  }

  
  .box4{
    background-image: url('f14.png');
  }

  
  .box5{
    background-image: url('f15.png');
  }

  .box6{
    background-image: url('f16.png');
  }

  .box7{
    background-image: url('f17.png');
  }

  


  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 7%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #07070f;
    z-index: 998;
    margin: 0;
    padding: 0;
    overflow-y: hidden; 
    overflow-x: hidden;
  }

  .nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    margin: 0;
    padding: 0;
  }

  .nav-links a {
    display: block;
    padding: 10px 0; 
    margin: 0;
    color: white;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 10%;
    position: relative;
    z-index: 9999;
    margin-top: 5%;
  }

  .navbar-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
  }

  .navbar-toggle:checked ~ .nav-links {
    display: flex;
  }

  #mm h1, #mn h1, #n1 h1{
    font-size: 70px;
  }

  
.navbar.scroll {
  background-color: rgba(0, 0, 0, 0);
}
  

  
.navbar-toggle-icon {
  opacity: 1;
}

.navbar-toggle-icon:before,
.navbar-toggle-icon:after {
  opacity: 1;
}





}

